.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 8px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background-color: #fdfdfd;
  padding: 8px;
}

.post h2 {
  text-align: center;
}

.post img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  /* height: auto; */
  border-radius: 8px;
}

/* tema escuro */
@media (prefers-color-scheme: dark) {
  .post {
    background-color: #1e1e1e;
  }
}