.header {
  max-width: 980px;
  margin: 8px auto 16px;
  text-align: center;
}

.header.normal {
  font-size: 1.2rem;
}

.header.small {
  font-size: 0.6rem;
}

.alignLeft {
  text-align: left;
}

.header h1 {
  color: #0D47A1;
  font-family: var(--font-lora), serif;
}

@media (prefers-color-scheme: dark) {
  .header h1 {
    color: #64B5F6;
  }
}